@import "./styles/config/fonts";
@import "./styles/config/reset";
@import "./styles/config/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        min-height: 100%;
        position: relative;
        overflow-x: hidden;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: var(--base-font-size);
        line-height: var(--base-line-height);
        font-family: var(--base-font-family);
        font-weight: 400;
    }
}


@layer components {
    .s-container {
        @apply max-w-6xl m-auto w-full px-2
    }
    .s-btn-detail {
        @apply flex items-center gap-2 text-white text-center py-2 px-10 rounded transition-all font-semibold
    }
}